---
const { lang } = Astro.params;
import Layout from "@/layouts/Layout.astro";
---

<Layout
  ><div
    class="col-span-full min-h-[120px] text-center text-gray-500 py-8 text-xl flexcolc gap-2 khmer"
  >
    <img
      src="https://cdn.openart.ai/uploads/image_2ek9qc8b_1751036174788_raw.jpg"
      alt="notfound"
      class="w-[25vw] rounded-3xl"
    />
    {
      lang === "En"
        ? " - Error Happened Try Again (404)."
        : " - មានភាពមិនប្រក្រតី ព្យាយាមម្តងទៀត (404)"
    }
  </div></Layout
>
