---
import { skins } from "@/data/skins";
import Layout from "@/layouts/Layout.astro";
const { lang } = Astro.params;
---

<Layout lang={lang} where="Skin">
  <div class="flex flex-col w-full justify-center items-center">
    <h2 class="text-3xl w-auto text-center mt-2 khmer" transition:name="title">
      {lang == "En" ? "All SkinType" : "គ្រប់់ប្រភេទស្បែក"}
    </h2>
    <div
      class="flex items-center w-[calc(100vw-100px)] p-3 m-3 flex-wrap gap-x-3 gap-y-3 h-auto justify-center"
    >
      {
        skins.map((item) => (
          <a
            class="flex justify-around items-center w-auto h-auto flex-col mt-2.5"
            href={
              "/" +
              lang +
              "/Skin/" +
              item.text.replace(/\//g, "_").replace(/ /g, "+")
            }
          >
            <img
              class="w-[15vw] aspect-square rounded-[15px] "
              loading="lazy"
              decoding="async"
              src={
                item.img
                  ? item.img
                  : "https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png?20210521171500"
              }
            />
            <h2 class="text-center text-blue-500 font-bold text-[15px] max-[930px]:text-[1.7vw]">
              {lang == "En" ? item.text : item.Kh}
            </h2>
          </a>
        ))
      }
    </div>
    <div class="w-full h-[40px]"></div>
  </div>
</Layout>
