---
import "@/styles/global.css";
return Astro.redirect("/Kh");
---

<html>
  <head>
    <title>Redirecting...</title>
  </head>
  <body class="w-screen h-screen flexrowc">
    <span class="loading loading-infinity loading-xl"></span>
  </body>
</html>
