---
import CardPost from "../components/CardPost";
import { items } from "../data/items";
const { title, type, lang, text } = Astro.props;
const filteredItems =
  text == "category"
    ? items.filter((item) => item.Category.includes(type))
    : text == "skin"
      ? items.filter((item) => item.skin.includes(type))
      : text == "brand"
        ? items.filter((item) => item.brand == type)
        : null;
---
    <div class="h-auto w-[75vw] flexcolc">
      <div class="flex items-center w-full my-4">
        <hr class="flex-grow border-t border-black" />
        <span
          class="mx-4 font-bold text-xl text-black text-[18px] max-[400px]:text-[15px] dark:text-white"
        >
          {title.Kh ? (lang == "En" ? title.En : title.Kh) : title.En}
        </span>
        <hr class="flex-grow border-t border-black" />
      </div>
      <div class="grid grid-cols-6 gap-x-3 gap-y-4 w-[calc(100vw-40px)] mx-2 max-[1123px]:grid-cols-5 max-[938px]:grid-cols-4 max-[753px]:grid-cols-3 max-[520px]:grid-cols-2">
        {filteredItems?.slice(0, 12).map((product) => (
          <CardPost item={product} mostSell={product.mostSell} lang={lang} />
        ))}
      </div>
      {text == "category" ? (
        <a
          class="w-[132px] h-[36px] bg-[#283542] flexrowc text-center rounded-[10px] translate-y-[20px] text-white"
          href={
            "/" +
            lang +
            "/Category/" +
            type.replace(/\//g, "_").replace(/ /g, "+")
          }
        >
          <h2 class="text-[15px] font-bold">
            {lang == "En" ? "View All" : "មើលទាំងអស់"}
          </h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.2em"
            height="1.2em"
            viewBox="0 0 15 15"
          >
            <path
              fill="currentColor"
              d="M8.293 2.293a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L11 8.5H1.5a1 1 0 0 1 0-2H11L8.293 3.707a1 1 0 0 1 0-1.414"
            />
          </svg>
        </a>
      ) : text == "skin" ? (
        <a
          class="w-[132px] h-[36px] bg-[#283542] flexrowc text-center rounded-[10px] translate-y-[20px] text-white"
          href={
            "/" + lang + "/Skin/" + type.replace(/\//g, "_").replace(/ /g, "+")
          }
        >
          <h2 class="text-[15px] font-bold">
            {lang == "En" ? "View All" : "មើលទាំងអស់"}
          </h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.2em"
            height="1.2em"
            viewBox="0 0 15 15"
          >
            <path
              fill="currentColor"
              d="M8.293 2.293a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L11 8.5H1.5a1 1 0 0 1 0-2H11L8.293 3.707a1 1 0 0 1 0-1.414"
            />
          </svg>
        </a>
      ) : text == "brand" ? (
        <a
          class="w-[132px] h-[36px] bg-[#283542] flexrowc text-center rounded-[10px] translate-y-[20px] text-white"
          href={
            "/" + lang + "/Brand/" + type.replace(/\//g, "_").replace(/ /g, "+")
          }
        >
          <h2 class="text-[15px] font-bold">
            {lang == "En" ? "View All" : "មើលទាំងអស់"}
          </h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.2em"
            height="1.2em"
            viewBox="0 0 15 15"
          >
            <path
              fill="currentColor"
              d="M8.293 2.293a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L11 8.5H1.5a1 1 0 0 1 0-2H11L8.293 3.707a1 1 0 0 1 0-1.414"
            />
          </svg>
        </a>
      ) : null}

      <div class="w-full h-[30px]" />
    </div>
